<%-include("partials/header.ejs") -%>

<body>
    
    <div class="main-container">
        <h1><%=title%></h1>
        <% items.forEach(function(item){ %>
        <p>
        <form action="/delete" method="post">
            <input type="checkbox" name="checkbox" value="<%= item._id %>" onchange="this.form.submit()" />
            <%= item.name %>
            <input type="hidden" name="listname" value=" <%=title%> "/>

        </form>
        </p>
        <% }) %>

        <form action="/" method="post">
            <p> <input type="text" name="newItem" placeholder="item name here......." required> </p>
            <p> <button type="submit" name="submitBtn" value="<%=title%>" >+</button> </p>
        </form>
    </div>
</body>
</html>